<div class="hero-unit">
	<h1>Welcome to OM Rails!</h1>
	<p>
		You've found the home page for my latest application. :) 
	</p>
	<p>
		Check the <%= link_to 'Weather', 'http://weather.com' %> right now!
	</p>
	<p>
		<%= link_to 'Sign Up Now!', '#', class: "btn btn-primary btn-large" %>
	</p>
</div>